{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/exercises.css') }}"/>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="illnessInfo">
        <h1>Alzheimer's Disease Exercises</h1>
        <p class="p1">Alzheimer's disease is a chronic neurodegenerative disease which effects over 40,000 people in Ireland alone.</p>
        <h4 class="question">Can Exercise Benefit Alzheimer Sufferers?</h4>
        <p class="p2" style="font-weight: bold"></p>
        <p class="p3" style="font-weight: bold"></p>
        <h4 class="thingsToDo">What Can You Do?</h4>
        <ul>
            <li></li>
        </ul>
    </div>

{% endblock %}