{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <h1>Alzheimer's disease Exercises</h1>
    <p>Alzheimer's disease is a chronic neurodegenerative disease which effects over 40,000 people in Ireland alone.</p>

{% endblock %}