{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/societyPages.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/css/bootstrap.css') }}"/>
{% endblock %}

{% block javascripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body %}

    <div class="SocietyInformation">
        <h1>Diabetes Ireland</h1>
        <h4>The following page contains information regarding Diabetes Ireland</h4>
        <p style="font-weight: bold">Diabetes Ireland is the only national charity in Ireland dedicated to helping people with diabetes.
        The charity provides support and education to anyone who may be suffering from diabetes. The charity also raises awareness and funds research into finding
        a potential cure for diabetes. If you would be interested in donating to Diabetes Ireland you can do so <a href="https://www.diabetes.ie/fundraising/donate/" target="_blank">here.</a></p>
        <p>Website: <a href="https://www.diabetes.ie/" target="_blank">www.diabetes.ie</a></p>
        <p>Help Line: 1850 909 909<br></p>
        <p>Email: <a href="mailto:info@diabetes.ie">info@diabetes.ie</a></p>
    </div>

    <div class="container">
        <h3>Social Media Feeds for Diabetes Ireland</h3>
        <div class="col-sm">
            <div class="column1">
                <div class="fb-page" data-href="https://www.facebook.com/DiabetesIreland/" data-tabs="timeline" data-width="350" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/DiabetesIreland/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/DiabetesIreland/">Diabetes Ireland
                        </a>
                    </blockquote>
                </div>

            </div>
        </div>

        <div class="col-sm">
            <div class="column2">
                <div class="twitter-page">
                    <a class="twitter-timeline" data-width="350" data-height="600" href="https://twitter.com/Diabetes_ie?ref_src=twsrc%5Etfw">Tweets by Diabetes_ie
                    </a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}