{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/societyPages.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/css/bootstrap.css') }}"/>
{% endblock %}

{% block javascripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body %}

    <div class="SocietyInformation">
        <h1>Irish Cancer Society</h1>
        <h4>The following page contains information regarding the Irish Cancer Society</h4>
        <p style="font-weight: bold">The Irish Cancer Society is a charity dedicated to battling cancer and improving the lives of people with cancer.
        The society was founded in 1963 and is the largest voluntary funder of cancer research in Ireland. Fun raising activities for the Irish
        Cancer Society include <a href="" target="_blankhttps://www.cancer.ie/get-involved/fundraise/major-fundraising-drives/daffodil-day">Daffodil Day</a> and
        <a href="https://www.cancer.ie/get-involved/fundraise/major-fundraising-drives/shave-or-dye/about#sthash.FjtNE9Hl.dpbs" target="_blank">Shave or Dye.</a>
        <br>If you would be interested in donating to the Irish Cancer Society you can do so <a href="https://www.cancer.ie/get-involved/fundraise/how-to-donate/donate?gclid=CjwKCAjwwuvWBRBZEiwALXqjw53Eu81VuorPXZD9JUueNA4VCpg2OzEQVNAuRHAViaW3esRzp5toKhoCQnIQAvD_BwE" target="_blank">here</a></p>
        <p>Website: <a href="https://www.cancer.ie/" target="_blank">www.cancer.ie</a></p>
        <p>Help Line(Freephone Mon-Fri: 9am-5pm): 1800 200 700</p>
        <p>Email: <a href="mailto:cancernurseline@irishcancer.ie">cancernurseline@irishcancer.ie</a></p>
    </div>

    <div class="container">
        <h3>Social Media Feeds for The Irish Cancer Society</h3>
        <div class="col-sm">
            <div class="column1">
                <div class="fb-page" data-href="https://www.facebook.com/IrishCancerSociety" data-tabs="timeline" data-width="350" data-height="600"
                     data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                     data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/IrishCancerSociety" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/IrishCancerSociety">Irish Cancer Society</a>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="column2">
                <div class="twitter-page">
                    <a class="twitter-timeline" data-width="350" data-height="600" href="https://twitter.com/IrishCancerSoc?ref_src=twsrc%5Etfw">
                        Tweets by IrishCancerSoc
                    </a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}