{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body %}
    <div class="fb-page" data-href="https://www.facebook.com/IrishCancerSociety" data-tabs="timeline" data-width="350" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/IrishCancerSociety" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/IrishCancerSociety">Irish Cancer Society
            </a>
        </blockquote>
    </div>

    <div class="twitter-page">
        <a class="twitter-timeline" data-width="350" data-height="600" href="https://twitter.com/IrishCancerSoc?ref_src=twsrc%5Etfw">Tweets by IrishCancerSoc
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}